/* body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
} */


html, body {
  height: 100%;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  background: #42A5F5;
  color: white;
}