@import 'footer.css';
@import 'nav.css';
html, body {
  height: 100%;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
