@import 'footer.css';
@import 'nav.css';
@import 'button.css';

html, body {
  height: 100%;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.card {
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .flex-container{   
    flex-direction: column;
  }
}